


    <section class="product-section layout-padding ">
        <div class="container">
            <div class="heading-container text-center heading-center mb-5">
                <h2>Our Products</h2>
            </div>

            <div class="row">
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box justify-content-center">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earbuds-1.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box justify-content-center">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container justify-content-center">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-13.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-1.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/headphone-12.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/Fuelbase-1.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/adopter-3.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/wireless-batery.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/USB-DualPort-1.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/handfree-1.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-16.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-17.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-9.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/headphone-2.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/headphone-6.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/headphone-4.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earbuds-2.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earbuds-3.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earbuds-4.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/earpods-3.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/Fuelbase-2.jpg" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 mt-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="../../assets/images/bg/wireless-batery-2.webp" alt="">
                            <a href="#" class="add_cart_btn"> <span>Add to Cart</span></a>
                        </div>
                        <div class="detail_box">
                            <h5>Product Name</h5>
                            <div class="product_info">
                                <h5><span>$</span>300</h5>
                                <div class="star_container">
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                     <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>










            </div>
        </div>
    </section>
    